# API Configuration
BACKSTAGE_API_URL=http://localhost:7007/api
TEMPLATES_DIR=../templates
CATALOG_FILE=../catalog-info.yaml

# Client Configuration
BACKSTAGE_TEMPLATES_API_URL=http://localhost:8000
# BACKSTAGE_TEMPLATES_API_TOKEN=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
BACKSTAGE_TEMPLATES_API_TOKEN=development